<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Livro</title>
    <!-- <link rel="stylesheet" th:href="@{/css/books.css}" /> -->
  </head>
  <body><h1 th:text="${bookId} == null ? 'Novo Livro' : 'Editar Livro'">Livro</h1>

<form th:action="${bookId == null} ? @{/books} : @{/books/{id}(id=${bookId})}"
      th:object="${bookRequest}"
      method="post">

    <div>
        <label>Título</label>
        <input type="text" th:field="*{title}"/>
    </div>
    <div>
        <label>Ano</label>
        <input type="number" th:field="*{year}"/>
    </div>
    <div>
        <label>Autores</label>
        <select multiple th:field="*{authorIds}">
            <option th:each="a : ${authors}"
                    th:value="${a.id}"
                    th:text="${a.name}">
            </option>
        </select>
    </div>

    <button type="submit">Guardar</button>
</form>
  </body>
</html>
