<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>Biblioteca - Livros</title>
    <link rel="stylesheet" th:href="@{/css/books.css}" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="top-bar">
        <div sec:authorize="isAuthenticated()" class="user-info">
          <span class="user-greeting">
            Bem-vindo,
            <strong sec:authentication="principal.displayName"></strong>
          </span>
          <form class="logout-form" th:action="@{/logout}" method="post">
            <button type="submit" class="btn-logout">Sair</button>
          </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
          <a th:href="@{/login}" class="btn-link">Entrar</a>
        </div>
      </div>

      <h1>Lista de autores</h1>

      <a th:href="@{/authors/new}">Criar novo autor</a>
      <a class="books-authors" th:href="@{/books}">Ir para livros</a>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>name</th>
            <th>biography</th>
            <th>bornDate</th>
            <th>deathDate</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="author : ${authors}">
            <td>[[${author.id}]]</td>
            <td>[[${author.name}]]</td>
            <td>[[${author.biography}]]</td>
            <td>[[${author.bornDate}]]</td>
            <td>[[${author.deathDate}]]</td>
            <td>
              <a th:href="@{'/authors/' + ${author.id} + '/edit'}">Editar</a>
              <a
                th:href="@{'/authors/' + ${author.id} + '/delete'}"
                onclick="return confirm('Tens a certeza que queres apagar?');"
                >Apagar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
